:root {
    --background-color: #f4f4f4;
    --container-background-color: #fff;
    --border-color: #ccc;
    --primary-color: #007bff;
    --primary-hover-color: #0056b3;
    --button-color:#fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--container-background-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items:  flex-start;
    justify-content:  space-around;
}

h1 {
    text-align: center;
    margin: 20px;
    background-color: #00b957;
    color: #fff;
}

.form-group {
    margin-bottom: 20px;
    width: 250px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    resize: vertical;
}

textarea:focus {
    border-color: var(--primary-color);
}

.sidebox{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--button-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-hover-color);
}

@media (max-width: 768px) {
    .container {
        margin: 20px;
        flex-direction: column;
    }
}
